{% extends 'base.html.twig' %}

{% block title %}Parcourir{% endblock %}

{% block body %}
<div class="cont">
    <div class="header">
        <h1 class="title-h1 title-center">Bienvenue sur Catch'it !</h1>
        <div class="header-content">
            <p>De nombreux collectioneurs à travers le monde ...</p>
        </div>
    </div>
    <div
    {% if lastAlbums %}
        <div class="home-albums last-albums">
            <h2 class="title-h2">Les derniers ajouts</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for album in lastAlbums %}
                        {% if (loop.index0%3 == 0 and loop.index0 != 0) %}
                            </div>
                        {% endif %}
                        {% if (loop.index0%3 == 0) %}
                            <div class="swiper-slide">
                        {% endif %}
                            <div class="card bg-light">
                                <div class="card-header">
                                    <a href="{{ path('show_album', {'id': album.id}) }}"><h4 class="card-title">{{ album.name }}</h4></a>
                                    <p class="card-date">{{ album.createdAt|date("m/d/Y") }}</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ album.description }}</p>
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            </div>
        </div>

        <div class="home-albums most-albums">
            <h2 class="title-h2">Les collections les plus utilisées</h2>
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for album in mostAlbums %}
                        {% if (loop.index0%3 == 0 and loop.index0 != 0) %}
                            </div>
                        {% endif %}
                        {% if (loop.index0%3 == 0) %}
                            <div class="swiper-slide">
                        {% endif %}
                            <div class="card bg-light">
                                <div class="card-header">
                                    <a href="{{ path('show_album', {'id': album.id}) }}"><h4 class="card-title">{{ album.name }}</h4></a>
                                    <p class="card-added">{{ album.added }} 
                                        {% if album.added <= 1 %}
                                        ajout
                                        {% else %}
                                        ajouts
                                        {% endif %}
                                    </p>                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ album.description }}</p>
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            </div>
        </div>

        <div class="home-albums most-albums">
            <h2 class="title-h2">Les items les plus collectionnés</h2>
            <div class="list">
                {% for item in mostItems %}
                        <div class="card bg-light">
                            <div class="card-header">
                                <a href="{{ path('show_album', {'id': item.id}) }}"><h4 class="card-title">{{ item.name }}</h4></a>
                                <p class="card-added">{{ item.added }} 
                                    {% if item.added <= 1 %}
                                    ajout
                                    {% else %}
                                    ajouts
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
